<div _ngcontent-c7="" class="owl-carousel owl-theme members">
    <div _ngcontent-c7="" class="member_card">
        <app-card _ngcontent-c7="" _nghost-c9="">
            <div _ngcontent-c9="" class="card-container manual-flip hover">
                <div _ngcontent-c9="" class="card">

                    <div _ngcontent-c9="" class="front">
                        <div _ngcontent-c9="" class="image">
                            <img _ngcontent-c9="" src="/img/member/104.07.02-14-1_2018-04-16_6.47.44.jpg">
                        </div>
                        <div _ngcontent-c9="" class="content">
                            <div _ngcontent-c9="" class="header">李珮如</div>
                            <div _ngcontent-c9="" class="subtitle">副教授</div>
                            <div _ngcontent-c9="" class="divider"></div>
                            <div _ngcontent-c9="" class="center-align description autoBreak">
                                大數據資訊融合與分析、資料探勘與文字探勘，資料庫管理、UI/UX</div>
                        </div>
                        <div _ngcontent-c9="" class="attached bottom button" onclick="rotateCard(this)">更多資訊<span
                                _ngcontent-c9="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                        </div>
                    </div>

                    <div _ngcontent-c9="" class="back">
                        <div _ngcontent-c9="" class="editBtnWrapper">
                            <!---->
                        </div>
                        <div _ngcontent-c9="" class="content">
                            <div _ngcontent-c9="" class="header">李珮如</div>
                            <div _ngcontent-c9="" class="subtitle">副教授</div>
                            <!---->
                            <div _ngcontent-c9="" class="horizontal divider">學歷</div>
                            <div _ngcontent-c9="" class="center-align description">美國匹茲堡大學資訊科學博士
                            </div>
                            <div _ngcontent-c9="" class="horizontal divider">研究領域</div>
                            <div _ngcontent-c9="" class="center-align description autoBreak">
                                大數據資訊融合與分析、資料探勘與文字探勘，資料庫管理、UI/UX</div>
                            <div _ngcontent-c9="" class="horizontal divider">聯絡方式</div>
                            <div _ngcontent-c9="" class="description">
                                <div _ngcontent-c9=""><i _ngcontent-c9="" class="marker icon"></i>辦公室：管院620</div>
                                <div _ngcontent-c9=""><i _ngcontent-c9="" class="call icon"></i>分機：34622</div>
                                <div _ngcontent-c9=""><i _ngcontent-c9="" class="mail icon"></i>pjlee@mis.ccu.edu.tw
                                </div>
                                <!---->
                                <div _ngcontent-c9=""><i _ngcontent-c9="" class="lab icon"></i>實驗室：<span
                                        _ngcontent-c9=""> 資料科學暨巨量資料分析實驗室 <a
                                            href="http://dsbda.mis.ccu.edu.tw/">http://dsbda.mis.ccu.edu.tw/</a></span>
                                </div>
                                <!---->
                                <div _ngcontent-c9=""><i _ngcontent-c9="" class="browser icon"></i><a _ngcontent-c9=""
                                        target="blank" href="/personal/598ab45752917b0dbc5308d1">點擊前往個人頁面</a></div>
                            </div>


                        </div>
                        <div _ngcontent-c9="" class="attached bottom button" onclick="rotateCard(this)"><span
                                _ngcontent-c9="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>返回
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>